
@mixin dimensions($width:"", $height:"", $minWidth:"", $maxWidth:"", $minHeight:"", $maxHeight:""){
    width: $width;
    height: $height;
    min-width: $minWidth;
    max-width: $maxWidth;
    min-height: $minHeight;
    max-height: $maxHeight;
}



#product-container{
    @include dimensions(40%, auto, 140px);
    margin: 15px;
    background: rgba(0,0,0,0);
    display: flex;
    flex-direction: column; 
    @media (min-width: 450px){
        margin: 30px;
        width: 250px;
        height: 250px;
    }    
    img{
        width:100%;
        height: auto;        
        margin-bottom: 10px;        
        box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
        border-radius: 20px;
        @media (min-width: 450px){
            margin-bottom: 20px; 
        }  
    }
    div{      
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        width: 100%;
        height: 50px;       
        font-weight: bold;
        .titulo{
            color:black;
            font-size: 1rem;
            margin:0;              
        }
    }   
    
    
    
}