*{
    box-sizing: border-box;
}

body{
    margin: 0;    
    background: rgb(235, 235, 235);
    *{
        /* outline: 1px solid red; */
    }    
}
#root{
    padding-top: 80px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 450px){
        width: 70%;
        margin: 0 auto;
    }
}
#cobertor{
    width:100vw;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: -1;
    background: rgba(0,0,0,0);
    transition: background 0.5s;
}
#float-container{
    padding: 10px;
    z-index: -1;
    background: white;
    position: fixed;
    width: 90%;
    height: 329px;
    opacity: 0;
    transition: opacity 0.5s;
    .descripcion{
    margin: 0;
    height: 38px;
    margin-bottom: 5px;
    overflow: hidden;
    }
    .titulo{
        color:rgb(84, 86, 240);
        font-size: 1.2rem;
        margin:0;              
    }
    .precio{        
        margin:0;
        font-size : 1.8rem;
        color:rgb(84, 86, 240);
    }               
    button{
        font-size: 1.1rem;
        color: white;
        height: 30px;
        width: 100px;
        border: 0;
        border-radius: 5px;
        background: rgb(148, 148, 247);
        align-self: center;
    }
    
}
#navbar{
    position: fixed;
    z-index:1;
    top: 0;
    background: rgb(148, 148, 247);
    width: 100%;
    display:flex;   
    color:white;
    height: 60px;
    justify-content: flex-end;
    align-items: center;    
    font-size: 1.4rem;
    div{
        padding: 0 10px;
    }
}
#product-container{
    width:45%;
    height: 160px;   
    margin: 5px;
    background: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    align-items: flex-end;    
    @media (min-width: 450px){
        width: 350px;
    }
    div{      
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 50px;
        justify-content: center;
        text-align:center;
        background: rgba(0,0,0,0.8);
        .titulo{
            color:white;
            font-size: 1.2rem;
            margin:0;              
        }
    }   
    img{
        width:100%;
        height: auto;
        margin-right: 10px;
        position: absolute;
    }
    
    
}